*** General ***

owner    = Peter Random
contact  = some@address.nowhere
mailhost = my.mail.host
sendmail = /usr/sbin/sendmail
# NOTE: do not put the Image Cache below cgi-bin
# since all files under cgi-bin will be executed ... this is not
# good for images.
imgcache = /opt/smokeping/htdocs/cache
imgurl   = cache
datadir  = /opt/smokeping/data
piddir  = /opt/smokeping/var
cgiurl   = http://localhost/smokeping/smokeping.cgi
smokemail = /opt/smokeping/etc/smokemail.dist
tmail = /opt/smokeping/etc/tmail.dist
# specify this to get syslog logging
syslogfacility = local0
# each probe is now run in its own process
# disable this to revert to the old behaviour
# concurrentprobes = no

*** Alerts ***
to = alertee@address.somewhere
from = smokealert@company.xy

+someloss
type = loss
# in percent
pattern = >0%,*12*,>0%,*12*,>0%
comment = loss 3 times  in a row

*** Database ***

step     = 30
pings    = 20

# consfn mrhb steps total

AVERAGE  0.5   1  1008
AVERAGE  0.5  12  4320
    MIN  0.5  12  4320
    MAX  0.5  12  4320
AVERAGE  0.5 144   720
    MAX  0.5 144   720
    MIN  0.5 144   720

*** Presentation ***

template = /opt/smokeping/etc/basepage.html.dist

+ charts

menu = Charts
title = The most interesting destinations

++ stddev
sorter = StdDev(entries=>4)
title = Top Standard Deviation
menu = Std Deviation
format = Standard Deviation %f

++ max
sorter = Max(entries=>5)
title = Top Max Roundtrip Time
menu = by Max
format = Max Roundtrip Time %f seconds

++ loss
sorter = Loss(entries=>5)
title = Top Packet Loss
menu = Loss
format = Packets Lost %f

++ median
sorter = Median(entries=>5)
title = Top Median Roundtrip Time
menu = by Median
format = Median RTT %f seconds

+ overview

width = 600
height = 50
range = 10h

+ detail

width = 600
height = 200
unison_tolerance = 2

"Last 3 Hours"    3h
"Last 30 Hours"   30h
"Last 10 Days"    10d
"Last 400 Days"   400d

#+ hierarchies
#++ owner
#title = Host Owner
#++ location
#title = Location

*** Probes ***

+ FPing

binary = /usr/sbin/fping

 + DNS
 binary = /usr/bin/dig
 lookup = name.example
 pings = 5
 step = 30

 + EchoPingHttp
 pings = 5
 url = /test-url

 + EchoPingHttps
 pings = 5
 url = /test-url

 + Curl
 binary = /usr/bin/curl
 urlformat = http://%host%/
 follow_redirects = yes
 include_redirects = yes
 insecure_ssl = 1

*** Slaves ***
+host1
display_name=Host 1
color=0000ff

+host2
display_name=Host 2
color=00ff00

*** Targets ***

probe = FPing

menu = Top
title = Network Latency Grapher
remark = Welcome to the SmokePing website of xxx Company. \
         Here you will learn all about the latency of our network.

+ network
menu= Net Latency
title= Network latency (ICMP pings)

++ localhost
host= localhost
title= Cacti Appliance ping latency

++ google
host= google.com
title= Google.com ping latentcy

+ services
menu= Service Latency
title= Service Latency (DNS, HTTP)

++ dns
probe= DNS
menu= DNS Latency
title= Service Latency (DNS)

+++ cloudflarepri
menu=CloudFlare Primary
host= 1.1.1.1
title= CloudFlare DNS query latency

++ http
menu= HTTP Latency
title= Service Latency (HTTP/S)

+++ httplocalsmokeping
menu= Localhost SmokePing
probe= Curl
host= localhost
title= Cacti Template SmokePing.cgi HTTP
urlformat= http://%host%/smokeping/smokeping.cgi

+++ httpsgoogle
menu= Google.com
probe= Curl
host= www.google.com
title= Google.com HTTPS latency
urlformat= https://%host%/

+++ httplocalcacti
menu= Localhost Cacti
probe= Curl
host= localhost
title= Cacti Template Cacti HTTP latency
urlformat= http://%host%/cacti
