
[Unit]
Description=SmokePing

[Service]
ExecStart=/opt/smokeping/bin/smokeping
ExecReload=/opt/smokeping/bin/smokeping --reload
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
