
[Unit]
Description=SmokePing

[Service]
ExecStart=/opt/smokeping/bin/smokeping
ExecReload=/opt/smokeping/bin/smokeping --restart

[Install]
WantedBy=multi-user.target
